<h4>
    <%= title %>
</h4>
<form method="post" action="">
    <label for="announcementContent"></label>
    <textarea id="announcementContent" name="announcementContent" rows="4" cols="50"
        placeholder="Enter announcement content"></textarea>
    <button type="submit"></button>
</form>