<h4><%= title %></h4>
<ul>
  <li>Announcement ID: <%= announcement_detail.id %></li>
  <li>Creation Date: <%= announcement_detail.creationDate %></li>
  <li>Announcement Content: <%= announcement_detail.announcementContent %></li>
</ul>