<h1><%= title %></h1>
<form method="post" action="">
  <label for="authorName">Author name:</label> 
  <input type="text" id="authorName" name="authorName" placeholder="Enter author name"> <br>
  <label for="biography">Biography:</label> 
  <input type="text" id="biography" name="biography" placeholder="Enter author biography"> <br>
  <label for="profilePicturePath">Profile picture path:</label> 
  <input type="text" id="profilePicturePath" name="profilePicturePath" placeholder="Enter profile picture path"> <br>

  <input type="submit" value="submit">
</form>