<h1><%= title %></h1>
<form action="" method="post">
    <label for="name">Fullname:</label>
    <input type="text" id="name" name="name" placeholder="Enter your name">
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Enter your email">
    <br>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber">
    <br>

    <p>Type of Feedback:</p>
    <input type="radio" id="feedback1" name="feedback">
    <label for="feedback1">Question</label>
    <input type="radio" id="feedback2" name="feedback">
    <label for="feedback2">Compliment</label>
    <input type="radio" id="feedback3" name="feedback">
    <label for="feedback3">Bug</label>
    <br>
    <input type="radio" id="feedback4" name="feedback">
    <label for="feedback4">Content</label>
    <input type="radio" id="feedback5" name="feedback">
    <label for="feedback5">Suggestion</label>
    <input type="radio" id="feedback6" name="feedback">
    <label for="feedback6">Other</label>
    <br>

    <label for=attachment>Attachment:</label>
    <input type="text" id="attachment" name="attachment" placeholder="Enter your attachment link">
    <br>
    <label for="feedbackMessage">Message:</label>
    <br>
    <textarea id="feedbackMessage" name="feedbackMessage" rows="10" cols="100"></textarea>
    
    <button type="submit">Submit</button>
</form>