<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users">User list</a> <br>
    <a href="/announcements">Announcements list</a> <br>
    <a href="/feedbacks">Feedback list</a>  <br>
  </body>
</html>
