<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Completed</title>
    <h1>Thank you for your order!</h1> <br>
    <a href="/books/">Press here to go back to main page</a>
</head>
<body>
    
</body>
</html>